{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
Реквизиты
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Реквизиты</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">На этой странице вы можете внести изменения в свои реквизиты</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}