{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Главная</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Ваш личный кабинет!</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title mb-4">Информация о балансе</h5>
                                    <div class="media">
                                        <div class="media-body">
                                            <p class="text-muted mb-2">Ваш баланс</p>
                                            <h2 class="mdi mdi-account-cash-outline"> {{ user.balance }} $</h2>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-muted">Действия</p>
                                            <a href="{% url 'depositwallet' %}" class="btn btn-outline-primary btn-block btn-sm mdi mdi-credit-card-plus-outline mdi-24px"> Пополнить</a>
                                            <a href="{% url 'withdrawalwallet' %}" class="btn btn-outline-primary btn-block btn-sm mdi mdi-credit-card-minus mdi-24px"> Вывести</a>
                                            <a href="{% url 'transferwallet' %}" class="btn btn-outline-primary btn-block btn-sm mdi mdi-credit-card-refund-outline mdi-24px"> Перевести</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title mb-4">Актуальные курсы валют</h5>
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th>Валюта</th>
                                            <th>Курс</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in dash_cour %}
                                            <tr>
                                                <td>{{ item.name_currency }}</td>
                                                <td>{{ item.base_currency }} $</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-right ml-2">
                                        <a href="{% url 'transactionwallet' %}">Все транзакции</a>
                                    </div>
                                    <h5 class="header-title mb-4">Последние транзакции</h5>

                                    <div class="table-responsive">
                                        <table class="table table-centered table-hover mb-0">
                                            <thead>
                                            <tr>
                                                <th scope="col">Название</th>
                                                <th scope="col">Плат.система</th>
                                                <th scope="col">Сумма</th>
                                                <th scope="col">Статус</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if dash_tran %}
                                                {% for i in dash_tran|slice:"::-1"|slice:":5" %}
                                                <tr>
                                                    <td>{{ i.transaction_name }}</td>
                                                    <td>{{ i.transaction_sistemchange }}</td>
                                                    <td>{{ i.transaction_sum }}</td>
                                                    {% if i.transaction_status == 'В обработке' %}
                                                        <td>
                                                            <div class="badge badge-soft-warning">{{ i.transaction_status }}</div>
                                                        </td>
                                                    {% elif i.transaction_status == 'Оплачена' or i.transaction_status == 'Выполнена' or i.transaction_status == 'Выполнен'%}
                                                        <td>
                                                            <div class="badge badge-soft-success">{{ i.transaction_status }}</div>
                                                        </td>
                                                    {% else %}
                                                        <td>
                                                            <div class="badge badge-soft-secondary">{{ i.transaction_status }}</div>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td>Транзакции отсутсвуют</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>
    </div>

{% endblock %}