{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Главная</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Ваш личный кабинет!</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="header-title mb-3">Информация о балансе</h5>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <p class="text-muted mb-3">Ваш баланс</p>
                                                    <h2 class="mdi"> {{ user.balance }} $</h2>
                                                </div>
                                                <div class="col-md-8 mb-3">
                                                    <p class="text-muted mb-2">Действия</p>
                                                    <div class="btn-dashboard-box try">
                                                        <a href="{% url 'depositwallet' %}" class="btn-dashboard-actions try"><img src="{% static 'personalaccount/assets/images/icon/walletin.svg' %}" alt="">Пополнить</a>
                                                        <a href="{% url 'withdrawalwallet' %}" class="btn-dashboard-actions try"><img src="{% static 'personalaccount/assets/images/icon/walletout.svg' %}" alt="">Вывести</a>
                                                        <a href="{% url 'transferwallet' %}" class="btn-dashboard-actions try"><img src="{% static 'personalaccount/assets/images/icon/walletchange.svg' %}" alt="">Перевести</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-muted mt-4 mb-0">Транзации</p>
                                            <div class="col-md-8 mt-1">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless table-sm m-0">
                                                        <tbody>
                                                        {% if dash_tran %}
                                                            {% for i in dash_tran|slice:"::-1"|slice:":3" %}
                                                                <tr>
                                                                    <td>{{ i.transaction_sistemchange }}</td>
                                                                    {% if i.transaction_type == 'Пополнение' %}
                                                                    <td>{{ i.transaction_sum }} $</td>
                                                                    {% elif i.transaction_type == 'Вывод' %}
                                                                    <td>- {{ i.transaction_sum }} $</td>
                                                                    {% endif %}
                                                                    {% if i.transaction_status == 'В обработке' %}
                                                                        <td><div class="badge badge-soft-warning">{{ i.transaction_status }}</div></td>
                                                                    {% elif i.transaction_status == 'Оплачена' or i.transaction_status == 'Выполнена' or i.transaction_status == 'Выполнен'%}
                                                                        <td><div class="badge badge-soft-success">{{ i.transaction_status }}</div></td>
                                                                    {% else %}
                                                                        <td><div class="badge badge-soft-secondary">{{ i.transaction_status }}</div></td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                        {% else %}
                                                            <tr>
                                                                <td>Транзакции отсутсвуют</td>
                                                            </tr>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="float-right ml-2 password-change-a">
                                                <a href="{% url 'news' %}">Все новости</a>
                                            </div>
                                            <h5 class="header-title mb-4">Новости</h5>
                                            <div class="box-news">
                                                <div class="row">
                                                    {% for news in list_news|slice:"::-1"|slice:":3" %}
                                                        <div class="col-sm-4 customlg">
                                                            <a href="{% url 'news' %}{{ news.pk }}" class="media-box media-box-reveal">
                                                                <img alt="" src="{{ news.news_img.url }}">
                                                                <div class="caption">
                                                                    <h3>{{ news.news_header|truncatechars:12 }}</h3>
                                                                    <h4>{{ news.news_date_joined|date:"d N" }}</h4>
                                                                    <p>
                                                                        {{ news.news_content|truncatechars:30 }}
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title mb-4">Курсы валют</h5>
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                        {% for item in dash_cour %}
                                            <tr>
                                                <td>{{ item.name_currency }}</td>
                                                <td>{{ item.base_currency }} $</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page-content-wrapper -->
        </div>
    </div>

{% endblock %}