{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
    Пополнение кошелька
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Пополнение кошелька</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">На этой странице вы можете пополнить свой кошелек</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="p-4">
                                        <h5 class="mb-5 text-center">Заявка</h5>

                                        <form class="form-horizontal" method="POST" action="{% url 'depositwalletform' %}" >
                                            {% csrf_token %}
                                            <div class="row">
                                                {{ form.non_field.errors }}
                                                <div class="col-md-12">
                                                    <div class="form-group form-group-custom mb-4">
                                                        {{ form.request_sistemchange }}
                                                        <label for="{{ form.request_sistemchange.id_for_label }}"></label>
                                                    </div>

                                                    <div class="form-group form-group-custom mb-4">
                                                        <label for="{{ form.request_currency.id_for_label }}"></label>
                                                        {{ form.request_currency }}
                                                    </div>

                                                    <div class="form-group form-group-custom mb-4">
                                                        <div>
                                                            {{ form.request_sum.errors }}
                                                        </div>
                                                        {{ form.request_sum }}
                                                        <label for="{{ form.request_sum.id_for_label }}">Введите сумму</label>
                                                    </div>

                                                    <div class="mt-4">
                                                        <button class="btn btn-outline-primary btn-block waves-effect waves-light " type="submit">Пополнить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}