{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
    Заявки на пополнение
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Заявки на пополнение</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Обрабатывайте заявки на пополнение</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        {% for item in depexchange %}
                            {% if item.request_userchange == user.username %}
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                Статус: {{ item.request_status }}
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">Заявка № {{ item.request_name }}</h5>
                                                <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                <p class="card-text">Пользователь: {{ item.request_user }}</p>
                                                <p class="card-text">Сумма: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Перейти к заявке</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}