{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLURAY</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'home/assets/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/glide.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/content-box.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/contact-form.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/media-box.css' %}">
    <link rel="stylesheet" href="{% static 'home/skin.css' %}">
    <link rel="icon" href="{% static 'home/media/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'home/assets/media/icons/iconsmind/line-icons.min.css' %}">
</head>

<body>

{% block index %}
{% endblock %}

<script src="{% static 'home/assets/scripts/jquery.min.js' %}"></script>
<script src="{% static 'home/assets/scripts/main.js' %}"></script>
<script src="{% static 'home/assets/scripts/parallax.min.js' %}"></script>
<script src="{% static 'home/assets/scripts/glide.min.js' %}"></script>
<script src="{% static 'home/assets/scripts/magnific-popup.min.js' %}"></script>
<script src="{% static 'home/assets/scripts/tab-accordion.js' %}"></script>
<script src="{% static 'home/assets/scripts/imagesloaded.min.js' %}"></script>
<script src="{% static 'home/assets/scripts/contact-form/contact-form.js' %}"></script>
<script src="{% static 'home/assets/scripts/progress.js' %}"></script>
<script src="{% static 'home/media/custom.js' %}"></script>
</body>
</html>