{% extends "home/base.html" %}

{% load static %}

{% block index %}
    <div id="preloader"></div>
    <nav class="menu-classic menu-transparent menu-fixed menu-one-page align-right" data-menu-anima="fade-bottom" data-scroll-detect="true">
        <div class="container">
            <div class="menu-brand">
                <a href="#home">
                    <img class="logo-default" src="{% static 'home/media/logo-dark.svg' %}" alt="fluray" />
                    <img class="logo-retina" src="{% static 'home/media/logo-light.svg' %}" alt="fluray" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul>
                    <li>
                        <a href="#opportunities">Возможности</a>
                    </li>
                    <li>
                        <a href="#advantages">Преимущества</a>
                    </li>
                    <li>
                        <a href="#news">Новости</a>
                    </li>
                    <li>
                        <a href="#">Поддержка</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <div class="menu-custom-area">
                        {% if user.is_authenticated %}
                            <a class="btn btn-border btn-login btn-xs" href="{% url 'personalaccount' %}">Личный кабинет</a>
                            <a class="btn btn-border btn-xs btn-circle" href="{% url 'account_logout' %}">Выйти</a>
                        {% else %}
                            <a class="btn btn-border btn-login btn-xs" href="{% url 'account_login' %}">Войти</a>
                            <a class="btn btn-border btn-xs btn-circle" href="{% url 'account_signup' %}">Регистрация</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <main>
        <section id="home" class="section-base">
            <div class="container">
                <div class="row align-items-center" data-anima="fade-in" data-time="1000">
                    <div class="col-lg-6">
                        <hr class="space-lg" />
                        <h1>
                            ПЛАТЕЖНАЯ СИСТЕМА <br /> созданная для Тебя!
                        </h1>
                        <p>
                            Отправить или Получить, в два клика.
                        </p>
                        {% if user.is_authenticated %}
                        <a href="{% url 'personalaccount' %}" class="btn-text active hidden-lg">Перейти в личный кабинет</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="btn btn-sm text-bold btn-circle shadow-1 full-width-sm">Создать аккаунт</a><span class="space-sm"></span>
                        <a href="{% url 'account_login' %}" class="btn-text active hidden-lg">Войти в личный кабинет</a>
                        {% endif %}
                        <hr class="space-xs" />
                    </div>
                    <div class="col-lg-6">
                        <hr class="space" />
                        <img class="margin-23 margin-md-23" src="{% static 'home/media/img-4.png' %}" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section id="opportunities" class="section-base section-bottom-layer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-6">
                        <h2>Современное приложение <br />для современного пользователя.</h2>
                        <p>
                            Удобная и многофункциональная система для совершения электронных денежных операций.
                        </p>
                        <hr class="space" />
                        <table class="table table-grid table-border align-center table-full-sm no-padding-y">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="counter counter-vertical counter-icon align-center">
                                            <div>
                                                <h3>Пользователей</h3>
                                                <div class="value">
                                                    <span class="text-md" data-to="129" data-speed="2000">129</span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="space-xs" />
                                        <p>
                                            Доверили нам свои средства.
                                        </p>
                                    </td>
                                    <td>
                                        <div class="counter counter-vertical counter-icon align-center">
                                            <div>
                                                <h3>Партнеров</h3>
                                                <div class="value">
                                                    <span class="text-md" data-to="3" data-speed="2000">3</span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="space-xs" />
                                        <p>
                                            Выбрали нас в качестве своего бизнеса.
                                        </p>
                                    </td>
                                    <td>
                                        <div class="counter counter-vertical counter-icon align-center">
                                            <div>
                                                <h3>Направлений</h3>
                                                <div class="value">
                                                    <span class="text-md" data-to="48" data-speed="2000">48</span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="space-xs" />
                                        <p>
                                            Активных способов для обмена валюты.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-6 align-center">
                        <hr class="space-sm visible-sm" />
                        <ul class="slider slider-side" data-options="type:slider,arrows:false,nav:true,autoplay:3000,controls:out">
                            <li>
                                <img src="{% static 'home/media/phone-screen-7.png' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'home/media/phone-screen-8.png' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'home/media/phone-screen-9.png' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'home/media/phone-screen-4.png' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'home/media/phone-screen-5.png' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'home/media/phone-screen-6.png' %}" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="space-lg" />
                <ul class="slider" data-options="type:carousel,arrows:false,nav:false,perView:6,perViewMd:3,perViewSm:3,perViewXs:2,autoplay:2000">
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/sber.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/tinkoff.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/alfa.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/vtb.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/raif.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/otkr.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/psb.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/gazprom.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/standart.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/rsb.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/pochta.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/rosbank.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/rnkb.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/mts.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/qiwi.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/payeer.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/wm.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/pm.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/paypal.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/skrill.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/umani.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/btc.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/ltc.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/xmr.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/etc.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/dash.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/xrp.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/bch.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'personalaccount/assets/images/logo-ps/eth.png' %}" alt="" />
                    </li>
                </ul>
            </div>
        </section>
        <section id="advantages" class="section-base section-color section-top-overflow">
            <div class="container">
                <div class="grid-list" data-columns="4" data-columns-md="2" data-columns-xs="1">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-add-basket"></i>
                                <div class="caption">
                                    <h2>Creative filters</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consecte.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-aquarius"></i>
                                <div class="caption">
                                    <h2>Shape modelling</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consecte.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-cookie-man"></i>
                                <div class="caption">
                                    <h2>Emojicons</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consecte.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-film-strip"></i>
                                <div class="caption">
                                    <h2>Video conversion</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consecte.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space-lg" />
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-3">
                        <ul class="text-list text-list-base align-right align-left-sm">
                            <li>
                                <h3>Vibrant community</h3>
                                <p>Placeat orci commodo, amet quo rem archite artesso marto possimuse mertolio</p>
                                <div></div>
                            </li>
                            <li>
                                <h3>Share messages and photos</h3>
                                <p>Artese orci commodo, amet quo rem archite artesso marto possimuselio</p>
                                <div></div>
                            </li>
                            <li>
                                <h3>Create photo stories</h3>
                                <p>Placeat orci commodo, amet quo rem archite artesso marto possimuse artesso</p>
                                <div></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 align-center" data-anima="fade-bottom" data-time="1000">
                        <img class="animation-shake-vertical" src="{% static 'home/media/phone-screen-7.png' %}" alt="" />
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <ul class="text-list text-list-base">
                            <li>
                                <h3>Smart facial recognition</h3>
                                <p>Placeat orci commodo, amet quo rem archite artesso marto possimuse artesso</p>
                                <div></div>
                            </li>
                            <li>
                                <h3>Organize your photos in albums</h3>
                                <p>Artese orci commodo, amet quo rem archite artesso marto possimuselio</p>
                                <div></div>
                            </li>
                            <li>
                                <h3>Free for personal use</h3>
                                <p>Placeat orci commodo, amet quo rem archite artesso marto possimuse artesso</p>
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <section id="news" class="section-base">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Узнай больше из новостей.</h2>
                </div>
                <div class="col-lg-4 align-right align-left-md">
                    <a class="btn-text" href="#">Все новости</a><span class="space-sm"></span>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="grid-list" data-columns="3" data-columns-sm="1">
                        <div class="grid-box">
                            <div class="grid-item">
                                <div class="cnt-box cnt-box-blog-top boxed">
                                    <a href="#" class="img-box">
                                        <div class="blog-date">
                                            <span>23</span>
                                            <span>JAN 2018</span>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h2>Заголовок новости</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing eiusmod tempor incididuno.
                                        </p>
                                        <a class="btn-text" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="cnt-box cnt-box-blog-top boxed">
                                    <a href="#" class="img-box">
                                        <div class="blog-date">
                                            <span>23</span>
                                            <span>JAN 2018</span>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h2>Заголовок новости</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing eiusmod tempor incididuno.
                                        </p>
                                        <a class="btn-text" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="cnt-box cnt-box-blog-top boxed">
                                    <a href="#" class="img-box">
                                        <div class="blog-date">
                                            <span>23</span>
                                            <span>JAN 2018</span>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h2>Заголовок новости</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing eiusmod tempor incididuno.
                                        </p>
                                        <a class="btn-text" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Компания</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Актуальные курсы</a>
                            </li>
                            <li>
                                <a href="#">Новости</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Поддержка</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Связаться с нами</a>
                            </li>
                            <li>
                                <a href="#">Справочный центр</a>
                            </li>
                            <li>
                                <a href="#">Оставить пожелание</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Прочее</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Пользователям</a>
                            </li>
                            <li>
                                <a href="#">Партнерам</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Подпишись</h4>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="instagram"><i class="fab fa-instagram"></i></a>
                        <a class="linkedin"><i class="fab fa-telegram-plane"></i></a>
                        <a class="youtube"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>©2020 FLURAY </span>
                <span><img src="{% static 'home/media/logo-light.svg' %}" alt=""/></span>
            </div>
        </div>
    </footer>
{% endblock %}
