local_settings.py
server_settings.py
.config
.idea
idea
venv
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc
!media
media/*
settings.py
.DS_Store
debug.log