local_settings.py
server_settings.py
config
fluray.conf
gunicorn.conf.py
.idea
idea
venv
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc
!media
media/*
settings.py
.DS_Store
debug.log
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.bak