{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
    Заявки
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Ваши заявки</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Здесь отображаються все заявки на пополнение и вывод</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="card-title">
                                        <h5 class="text-left">Заявки на пополнение</h5>
                                    </div>

                                    <div class="card-request">


                                        <div class="request-header">

                                            <div class="request-header-box">
                                                <div class="request-header-number">
                                                    <div class="number-content">
                                                        Заявка №23432553
                                                    </div>
                                                </div>

                                                <div class="request-header-hm">
                                                    <div class="hm-content">
                                                        Дата создания: 11 ноября 14:23
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="request-header-status">
                                                <div class="status-box">
                                                    <div class="status-content">
                                                        Ожидает оплаты
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="request-content">

                                            <div class="request-content-left">
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Платежная система
                                                    </div>
                                                    <div class="content-left-content">
                                                        СБЕРБАНК
                                                    </div>
                                                </div>
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Сумма заявки
                                                    </div>
                                                    <div class="content-left-content">
                                                        12 432 RUB
                                                    </div>
                                                </div>
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Коммисия
                                                    </div>
                                                    <div class="content-left-content">
                                                        2.6 %
                                                    </div>
                                                </div>
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Обработчик заявки
                                                    </div>
                                                    <div class="content-left-content">
                                                        24change.com
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="request-content-right">
                                                <div class="content-right-one">
                                                    <div class="right-one-title">
                                                        Итоговая сумма
                                                    </div>
                                                    <div class="right-one-content">
                                                        13 353 RUB
                                                    </div>
                                                </div>
                                                <div class="content-right-two">
                                                    <div class="right-two-title">
                                                        Реквизиты
                                                    </div>
                                                    <div class="right-two-content">
                                                        <div class="right-two-content-content">1G9MeBhkCH2ugVoDtpzrYaqUTBY8MVxJAK</div>
                                                        <div class="right-two-content-ico">
                                                            <img src="{% static 'personalaccount/assets/images/icon/copy.svg' %}" alt="copy">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-right-try">
                                                    <div class="right-try-content-del">
                                                        <img src="{% static 'personalaccount/assets/images/icon/del-btn.svg' %}" alt="">
                                                        <span>Удалить заявку</span>
                                                    </div>
                                                    <div class="right-try-content-succes">
                                                        <img src="{% static 'personalaccount/assets/images/icon/succes-btn.svg' %}" alt="">
                                                        <span>Перевод выполнен</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="card-request succes">

                                        <div class="request-header succes">

                                            <div class="request-header-box">
                                                <div class="request-header-number">
                                                    <div class="number-content succes">
                                                        Заявка №23432553
                                                    </div>
                                                </div>

                                                <div class="request-header-hm">
                                                    <div class="hm-content">
                                                        Дата создания: 11 ноября 14:23
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="request-header-status">
                                                <div class="status-box succes">
                                                    <div class="status-content">
                                                        Оплачена
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="request-content">

                                            <div class="request-content-left">
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Платежная система
                                                    </div>
                                                    <div class="content-left-content">
                                                        СБЕРБАНК
                                                    </div>
                                                </div>
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Сумма заявки
                                                    </div>
                                                    <div class="content-left-content">
                                                        12 432 RUB
                                                    </div>
                                                </div>
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Коммисия
                                                    </div>
                                                    <div class="content-left-content">
                                                        2.6 %
                                                    </div>
                                                </div>
                                                <div class="content-left-box">
                                                    <div class="content-left-title">
                                                        Обработчик заявки
                                                    </div>
                                                    <div class="content-left-content">
                                                        24change.com
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="request-content-right">
                                                <div class="content-right-one">
                                                    <div class="right-one-title">
                                                        Итоговая сумма
                                                    </div>
                                                    <div class="right-one-content">
                                                        13 353 RUB
                                                    </div>
                                                </div>
                                                <div class="content-right-two">
                                                    <div class="right-two-title">
                                                        Реквизиты
                                                    </div>
                                                    <div class="right-two-content">
                                                        <div class="right-two-content-content">1G9MeBhkCH2ugVoDtpzrYaqUTBY8MVxJA</div>
                                                        <div class="right-two-content-ico">
                                                            <img src="{% static 'personalaccount/assets/images/icon/copy.svg' %}" alt="copy">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-right-try">
                                                    <div class="right-try-content-succes-request">
                                                        <img src="{% static 'personalaccount/assets/images/icon/succes-btn.svg' %}" alt="">
                                                        <span>Перевод выполнен</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>





{#                                    <div class="card-request">#}
{#                                        <div class="card-request-content">#}
{#                                            <div class="content-number">#}
{#                                                 <div class="content-number-title">#}
{#                                                     Заявка №13324354#}
{#                                                 </div>#}
{#                                            </div>#}
{#                                            <div class="content-status">#}
{#                                                <div class="status-box">#}
{#                                                    <div class="status-div">#}
{#                                                        <div class="status-content">#}
{#                                                            Ожидает оплаты#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="content-requestcontent">#}
{#                                                <div class="requestcontent-box-left">#}
{#                                                    <div class="box-str">#}
{#                                                        Платежная система:#}
{#                                                    </div>#}
{#                                                    <div class="box-str">#}
{#                                                        Сумма заявки:#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="requestcontent-box-right">#}
{#                                                    <div class="box-str-bold">#}
{#                                                        СБЕРБАНК#}
{#                                                    </div>#}
{#                                                    <div class="box-str-bold">#}
{#                                                        13 758 RUB#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="content-hm">#}
{#                                                <div class="hm-title">#}
{#                                                    Заявка создана: 11 ноября 14:23#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="content-btn">#}
{#                                                <div class="btn-request-content">#}
{#                                                    <img src="{% static 'personalaccount/assets/images/icon/btn-arow-peding.svg' %}" alt="">#}
{#                                                    <span>Подробнее</span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-request">#}
{#                                        <div class="card-request-content succes">#}
{#                                            <div class="content-number">#}
{#                                                 <div class="content-number-title">#}
{#                                                     Заявка №45673894#}
{#                                                 </div>#}
{#                                            </div>#}
{#                                            <div class="content-status">#}
{#                                                <div class="status-box">#}
{#                                                    <div class="status-div succes">#}
{#                                                        <div class="status-content succes">#}
{#                                                            Оплачена#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="content-requestcontent">#}
{#                                                <div class="requestcontent-box-left">#}
{#                                                    <div class="box-str">#}
{#                                                        Платежная система:#}
{#                                                    </div>#}
{#                                                    <div class="box-str">#}
{#                                                        Сумма заявки:#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="requestcontent-box-right">#}
{#                                                    <div class="box-str-bold succes">#}
{#                                                        СБЕРБАНК#}
{#                                                    </div>#}
{#                                                    <div class="box-str-bold succes">#}
{#                                                        13 758 RUB#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="content-hm">#}
{#                                                <div class="hm-title">#}
{#                                                    Заявка создана: 11 ноября 14:23#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="content-btn">#}
{#                                                <div class="btn-request-content succes">#}
{#                                                    <img src="{% static 'personalaccount/assets/images/icon/btn-arow-succes.svg' %}" alt="">#}
{#                                                    <span>Подробнее</span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %}
                    <div class="row">

                        {% if base_reque %}
                            {% if status_reque %}
                                {% for item in base_reque|slice:"::-1" %}
                                    {% if item.request_status == 'Ожидает оплаты' and item.request_type == 'Заявка на пополнение'%}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="alert alert-warning">
                                                    Статус: {{ item.request_status }}
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h4>
                                                    <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                    <p class="card-text">Обработчик заявки: {{ item.request_userchange }}</p>
                                                    <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                    <p class="card-text">Сумма заявки: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                    <p class="card-text">Коммиссия: {{ item.request_commission }} %</p>
                                                    <h6 class="card-title">Итоговая сумма заявки: {{ item.request_good_sum }} {{ item.request_currency }}</h6>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Выполните перевод {{ item.request_good_sum }} {{ item.request_currency }}, на {{ item.request_sistemchange }}, по этим реквизитам {{ item.requisites }}</h5>
                                                    <p class="card-title-desc">* После перевода по реквизитам, обязательно подтвердите это, нажатием кнопки ниже.</p>
                                                    <a href="{{ item.pk }}/" class="btn btn-success">Перевод выполнен</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif item.request_status == 'Оплачена клиентом' and item.request_type == 'Заявка на пополнение' %}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="alert alert-success">
                                                    Статус: {{ item.request_status }}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h5>
                                                    <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                    <p class="card-text">Обработчик заявки: {{ item.request_userchange }}</p>
                                                    <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                    <p class="card-text">Сумма заявки: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                    <p class="card-text">Коммиссия: {{ item.request_commission }} %</p>
                                                    <h6 class="card-title">Итоговая сумма заявки: {{ item.request_good_sum }} {{ item.request_currency }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif item.request_status == 'Ожидает оплаты' and item.request_type == 'Заявка на вывод'%}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="alert alert-warning">
                                                    Статус: {{ item.request_status }}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h5>
                                                    <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                    <p class="card-text">Обработчик заявки: {{ item.request_userchange }}</p>
                                                    <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                    <p class="card-text">Сумма заявки: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                    <p class="card-text">Коммиссия: {{ item.request_commission }} %</p>
                                                    <h6 class="card-title">Итоговая сумма заявки: {{ item.request_good_sum }} {{ item.request_currency }}</h6>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Ожидайте перевод {{ item.request_good_sum }} {{ item.request_currency }}, на свои реквизиты {{ item.request_sistemchange }} {{ item.requisites }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">У вас нет активных заявок, вы можете создать свою<a href="{% url 'depositwallet' %}"><button type="button" class="btn btn-link">заявку!</button></a></h6>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">У Вас пока еще не было заявок, но вы можете создать свою первую<a href="{% url 'depositwallet' %}"><button type="button" class="btn btn-link">заявку!</button></a></h6>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                    </div>
                    {% endcomment %}
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>
    </div>

{% endblock %}