{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
    Заявки
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Ваши заявки</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Здесь отображаються все заявки на пополнение и вывод</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">

                        {% if base_reque %}
                            {% if status_reque %}
                                {% for item in base_reque %}
                                    {% if item.request_status == 'Ожидает оплаты' and item.request_type == 'Заявка на пополнение'%}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="alert alert-warning">
                                                    Статус: {{ item.request_status }}
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h4>
                                                    <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                    <p class="card-text">Обработчик заявки: {{ item.request_userchange }}</p>
                                                    <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                    <p class="card-text">Сумма заявки: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                    <p class="card-text">Коммиссия: {{ item.request_commission }} %</p>
                                                    <h6 class="card-title">Итоговая сумма заявки: {{ item.request_good_sum }} {{ item.request_currency }}</h6>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Выполните перевод {{ item.request_good_sum }} {{ item.request_currency }}, на {{ item.request_sistemchange }}, по этим реквизитам {{ item.requisites }}</h5>
                                                    <p class="card-title-desc">* После перевода по реквизитам, обязательно подтвердите это, нажатием кнопки ниже.</p>
                                                    <a href="{{ item.pk }}/" class="btn btn-success">Перевод выполнен</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif item.request_status == 'Оплачена клиентом' and item.request_type == 'Заявка на пополнение' %}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="alert alert-success">
                                                    Статус: {{ item.request_status }}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h5>
                                                    <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                    <p class="card-text">Обработчик заявки: {{ item.request_userchange }}</p>
                                                    <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                    <p class="card-text">Сумма заявки: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                    <p class="card-text">Коммиссия: {{ item.request_commission }} %</p>
                                                    <h6 class="card-title">Итоговая сумма заявки: {{ item.request_good_sum }} {{ item.request_currency }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif item.request_status == 'Ожидает оплаты' and item.request_type == 'Заявка на вывод'%}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="alert alert-warning">
                                                    Статус: {{ item.request_status }}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h5>
                                                    <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                    <p class="card-text">Обработчик заявки: {{ item.request_userchange }}</p>
                                                    <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                    <p class="card-text">Сумма заявки: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                    <p class="card-text">Коммиссия: {{ item.request_commission }} %</p>
                                                    <h6 class="card-title">Итоговая сумма заявки: {{ item.request_good_sum }} {{ item.request_currency }}</h6>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Ожидайте перевод {{ item.request_good_sum }} {{ item.request_currency }}, на свои реквизиты {{ item.request_sistemchange }} {{ item.requisites }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">У вас нет активных заявок, вы можете создать свою<a href="{% url 'depositwallet' %}"><button type="button" class="btn btn-link">заявку!</button></a></h6>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">У Вас пока еще не было заявок, но вы можете создать свою первую<a href="{% url 'depositwallet' %}"><button type="button" class="btn btn-link">заявку!</button></a></h6>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}