{% extends "users/account/base.html" %}
{% load static %}

{% block head_title %}Смена пароля{% endblock %}

{% block content %}
<body class="bg-primary bg-pattern">
<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home' %}"><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'home/media/logo-light.svg' %}" height="40" alt="logo"></a>
                    <h5 class="font-size-16 text-white-50 mb-4">Введите свой новый пароль</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-4">
                            <h5 class="mb-5 text-center">СМЕНА ПАРОЛЯ</h5>

                            {% if validlink %}
                            <form class="form-horizontal" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.new_password1 }}
                                            <label for="id_new_password1">Новый пароль</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.new_password1.errors }}
                                        </div>

                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.new_password2 }}
                                            <label for="id_new_password2">Новый пароль(еще раз)</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.new_password2.errors }}
                                        </div>

                                        <div class="mt-4">
                                            <button class="btn btn-outline-primary btn-block waves-effect waves-light " type="submit">Сменить пароль</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                                <p>Эта ссылка, больше не действительна. <a href="{% url 'password_reset' %}">Запросите новую ссылку.</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
