{% extends "users/account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}Смена пароля{% endblock %}

{% block content %}
<body class="bg-primary bg-pattern">
<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home' %}"><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'home/media/logo-light.png' %}" height="40" alt="logo"></a>
                    <h5 class="font-size-16 text-white-50 mb-4">Добро пожаловать!</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-4">
                            <h5 class="mb-5 text-center">СМЕНА ПАРОЛЯ</h5>

                            <form class="form-horizontal" method="POST" action="{% url 'account_change_password' %}" >
                                {% csrf_token %}
                                <div class="row">
                                {{ form.non_field.errors }}
                                    <div class="col-md-12">
                                        <div class="form-group form-group-custom mb-4">
                                            <div>
                                                {{ form.oldpassword.errors }}
                                            </div>
                                            {{ form.oldpassword }}
                                            <label for="{{ form.oldpassword.id_for_label }}">Текущий пароль</label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            <div>
                                                {{ form.password1.errors }}
                                            </div>
                                            {{ form.password1 }}
                                            <label for="{{ form.password1.id_for_label }}">Новый пароль</label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            <div>
                                                {{ form.password2.errors }}
                                            </div>
                                            {{ form.password2 }}
                                            <label for="{{ form.password2.id_for_label }}">Новый пароль(еще раз)</label>
                                        </div>

                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}
                                        <div class="mt-4">
                                            <button class="btn btn-outline-primary btn-block waves-effect waves-light " type="submit">Сменить пароль</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <a href="{% url 'personalaccount' %}" class="text-muted"><i class="mdi mdi-location-exit mr-1"></i> Вернуться</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
