{% extends "users/account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}Смена пароля{% endblock %}

{% block content %}
<body class="bg-primary bg-pattern">
<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home' %}"><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'home/media/logo-light.svg' %}" height="40" alt="logo"></a>
                    <h5 class="font-size-16 text-white-50 mb-4">Смените свой пароль</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-4">
                            <h5 class="mb-5 text-center">СМЕНА ПАРОЛЯ</h5>

                            <form class="form-horizontal" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                {{ form.non_field.errors }}
                                    <div class="col-md-12">
                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.old_password }}
                                            <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.old_password.errors }}
                                        </div>

                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.new_password1 }}
                                            <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.new_password1.errors }}
                                        </div>

                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.new_password2 }}
                                            <label for="{{ form.new_password2.id_for_label }}">Новый пароль(еще раз)</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.new_password2.errors }}
                                        </div>

                                        <div class="mt-4">
                                            <button class="btn btn-outline-primary btn-block waves-effect waves-light " type="submit">Сменить пароль</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <a href="{% url 'personalaccount' %}" class="text-muted"><i class="mdi mdi-location-exit mr-1"></i> Вернуться</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
