{% extends "users/account/base.html" %}
{% load static %}

{% block head_title %}Регистрация{% endblock %}

{% block content %}
<body class="bg-primary bg-pattern">
<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home' %}"><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'home/media/logo-light.svg' %}" height="40" alt="logo"></a>
                    <h5 class="font-size-16 text-white-50 mb-4">Добро пожаловать!</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-4">
                            <h5 class="mb-4 text-center">РЕГИСТРАЦИЯ</h5>

                            <form class="form-horizontal" method="POST">
                                {% csrf_token %}
                                {{ form.non_field.errors }}
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if link_status %}
                                            {% if user_parent %}
                                                <div class="form-group mb-4">
                                                    <p class="text-muted mb-1">Вас пригласил</p>
                                                    <input class="form-control is-valid" type="text" placeholder="{{ user_parent }}" readonly>
                                                </div>
                                            {% else %}
                                                <div class="form-group mb-4">
                                                    <p class="text-muted mb-1">Вас пригласил</p>
                                                    <input class="form-control is-invalid" type="text" placeholder="Ошибка, проверьте ссылку" readonly>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="form-group form-group-custom mb-3">
                                            {{ form.userid }}
                                            <p class="text-muted font-size-12 ml-2 mb-0">Узнайте больше о категориях аккаунта, в разделе
                                                <a href="{% url 'support' %}">FAQ.</a></p>
                                        </div>
                                        <div class="form-group form-group-custom mb-4">
                                            {{ form.username }}
                                            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                                            {% if form.username.errors %}
                                            <div class="error">
                                                <ul class="errorlist">
                                                    <li>Имя пользователя занято.</li>
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group form-group-custom mb-4">
                                            {{ form.email }}
                                            <label for="{{ form.email.id_for_label }}">Почта</label>
                                            <div class="error">
                                                {{ form.email.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.password1 }}
                                            <label for="{{ form.password1.id_for_label }}">Пароль</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.password1.errors }}
                                        </div>
                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.password2 }}
                                            <label for="{{ form.password2.id_for_label }}">Пароль (еще раз)</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.password2.errors }}
                                        </div>

                                        <div class="custom-control custom-checkbox mt-5">
                                            <input type="checkbox" class="custom-control-input" id="conditionchek">
                                            <label class="custom-control-label font-size-14" for="conditionchek">Я принимаю условия <a href="#conditions_user" data-toggle="modal">Пользовательского соглашения</a></label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            {{ form.captcha }}
                                        </div>

                                        <div class="mt-3">
                                            <button id="conditionbtn" class="btn btn-outline-primary btn-block waves-effect waves-light" style="opacity: 0.3" type="submit" disabled>Зарегистрироваться</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <a href="{% url 'account_login' %}" class="text-muted"><i class="mdi mdi-account-circle mr-1"></i> Авторизация</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <table>
    <tbody>
        <tr>
            <td>
                <div class="modal fade" id="conditions_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем https://fluray.one/ (далее FLURAY или Администрация) с одной стороны и пользователем сайта с другой.</p>
                                <p>Используя сайт, Вы соглашаетесь с условиями данного соглашения. Если Вы не согласны с условиями данного соглашения, не используйте сайт FLURAY!</p>
                                <h3>Права и обязанности сторон</h3>
                                <h6>Пользователь имеет право:</h6>
                                <p>- осуществлять поиск информации на сайте</p>
                                <p>- получать информацию на сайте</p>
                                <p>- копировать информацию на другие сайты с указанием источника</p>
                                <p>- использовать информацию сайта в личных некоммерческих целях</p>
                                <h6>Администрация имеет право:</h6>
                                <p>- по своему усмотрению и необходимости создавать, изменять, отменять правила</p>
                                <p>- ограничивать доступ к любой информации на сайте</p>
                                <p>- создавать, изменять, удалять информацию</p>
                                <p>- удалять учетные записи</p>
                                <p>- отказывать в регистрации без объяснения причин</p>
                                <h6>Пользователь обязуется:</h6>
                                <p>- обеспечить достоверность предоставляемой информации</p>
                                <p>- обеспечивать сохранность личных данных от доступа третьих лиц</p>
                                <p>- обновлять Персональные данные, предоставленные при регистрации, в случае их изменения</p>
                                <p>- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность</p>
                                <p>- не нарушать работоспособность сайта</p>
                                <p>- не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу</p>
                                <p>- не совершать действия, направленные на введение других Пользователей в заблуждение</p>
                                <p>- не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам</p>
                                <p>- не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных законодательством РФ</p>
                                <p>- не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ</p>
                                <p>- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами</p>
                                <h6>Администрация обязуется:</h6>
                                <p>- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.</p>
                                <p>- осуществлять разностороннюю защиту учетной записи Пользователя</p>
                                <p>- защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила</p>
                                <p>- предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом</p>
                                <h3>Ответственность сторон</h3>
                                <p>- пользователь лично несет полную ответственность за распространяемую им информацию</p>
                                <p>- администрация не несет никакой ответственности за достоверность информации, скопированной из других источников</p>
                                <p>- администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг</p>
                                <p>- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами</p>
                                <p>- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса</p>
                                <h3>Условия действия Соглашения</h3>
                                <p>Данное Соглашение вступает в силу при регистрации на сайте.</p>
                                <p>Соглашение перестает действовать при появлении его новой версии.</p>
                                <p>Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.</p>
                                <p>При изменении соглашения, в некоторых случаях, администрация может оповестить пользователей удобным для нее способом.</p>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}
