{% extends "users/account/base.html" %}
{% load static %}

{% block head_title %}Регистрация{% endblock %}

{% block content %}
<body class="bg-primary bg-pattern">
<div class="home-btn d-none d-sm-block">
    <a href="{% url 'home' %}"><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'home/media/logo-light.svg' %}" height="40" alt="logo"></a>
                    <h5 class="font-size-16 text-white-50 mb-4">Добро пожаловать!</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-4">
                            <h5 class="mb-4 text-center">РЕГИСТРАЦИЯ</h5>

                            <form class="form-horizontal" method="POST">
                                {% csrf_token %}
                                {{ form.non_field.errors }}
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if link_status %}
                                            {% if user_parent %}
                                                <div class="form-group mb-4">
                                                    <p class="text-muted mb-1">Вас пригласил</p>
                                                    <input class="form-control is-valid" type="text" placeholder="{{ user_parent }}" readonly>
                                                </div>
                                            {% else %}
                                                <div class="form-group mb-4">
                                                    <p class="text-muted mb-1">Вас пригласил</p>
                                                    <input class="form-control is-invalid" type="text" placeholder="Ошибка, проверьте ссылку" readonly>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="form-group form-group-custom mb-4">
                                            {{ form.userid }}
                                        </div>
                                        <div class="form-group form-group-custom mb-4">
                                            {{ form.username }}
                                            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                                            <div class="error">
                                                {% if form.username.errors %}
                                                    <ul class="errorlist">
                                                        <li>Имя пользователя занято.</li>
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group form-group-custom mb-4">
                                            {{ form.email }}
                                            <label for="{{ form.email.id_for_label }}">Почта</label>
                                            <div class="error">
                                                {{ form.email.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.password1 }}
                                            <label for="{{ form.password1.id_for_label }}">Пароль</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.password1.errors }}
                                        </div>
                                        <div class="form-group input-group form-group-custom mb-4">
                                            {{ form.password2 }}
                                            <label for="{{ form.password2.id_for_label }}">Пароль (еще раз)</label>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="button-view-password"><i class="mdi mdi-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="error">
                                            {{ form.password2.errors }}
                                        </div>

                                        <div class="custom-control custom-checkbox mt-5">
                                            <input type="checkbox" class="custom-control-input" id="conditionchek">
                                            <label class="custom-control-label font-size-14" for="conditionchek">Я принимаю условия <a
                                                    href="#">Пользовательского соглашения</a></label>
                                        </div>

                                        <div class="mt-3">
                                            <button id="conditionbtn" class="btn btn-outline-primary btn-block waves-effect waves-light" style="opacity: 0.3" type="submit" disabled>Зарегистрироваться</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <a href="{% url 'account_login' %}" class="text-muted"><i class="mdi mdi-account-circle mr-1"></i> Авторизация</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
