{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
    Изменить резерв
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Изменить резерв</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Здесь вы можете изменить сумму, оставшихся средств</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row cust-maxw-1200">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="box-change">
                                    <div class="active-header">
                                        <div class="float-right ml-2 password-change-a">
                                            <div class="info-container" data-toggle="popover" data-trigger="hover" title="Изменить резерв" data-content="Меняйте остатки ваших средств, для заявок на вывод. Рекомендуем указывать на 1-2% сумму меньше."><i class="mdi mdi-information-outline"></i></div>
                                        </div>
                                        <h5>Изменить резерв</h5>
                                    </div>
                                    <form method="post" action="{% url 'reservchangeedit' %}">
                                        {% csrf_token %}
                                        <div class="box-change-content">
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/sber.png' %}" alt="sber">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_sberbank_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/tinkoff.png' %}" alt="tinkoff">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_tinkoff_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/alfa.png' %}" alt="alfabank">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_alfabank_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/vtb.png' %}" alt="vtb">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_vtb_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/raif.png' %}" alt="raiffaizen">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_raifaizen_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/otkr.png' %}" alt="otkritie">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_otkritie_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/psb.png' %}" alt="psb">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_psb_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/gazprom.png' %}" alt="gazprom">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_gazprombank_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/standart.png' %}" alt="standart">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_russtandart_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rsb.png' %}" alt="rsb">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_rosselhoz_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pochta.png' %}" alt="pochta">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_pochtabank_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rosbank.png' %}" alt="rosbank">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_rosbank_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rnkb.png' %}" alt="rnkb">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_rnkb_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/mts.png' %}" alt="mts">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_mtsbank_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/qiwi.png' %}" alt="qiwi">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_qiwi_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>USD</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/qiwi.png' %}" alt="qiwi">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_qiwi_usd }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/payeer.png' %}" alt="payeer">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_payeer_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>EUR</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/payeer.png' %}" alt="payeer">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_payeer_eur }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>USD</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/payeer.png' %}" alt="payeer">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_payeer_usd }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/wm.png' %}" alt="wm">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_webmoney_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>EUR</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/wm.png' %}" alt="wm">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_webmoney_eur }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>USD</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/wm.png' %}" alt="wm">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_webmoney_usd }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>BTC</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pm.png' %}" alt="pm">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_pm_btc }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>EUR</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pm.png' %}" alt="pm">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_pm_eur }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>USD</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pm.png' %}" alt="pm">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_pm_usd }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/paypal.png' %}" alt="paypal">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_paypal_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>EUR</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/paypal.png' %}" alt="paypal">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_paypal_eur }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>USD</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/paypal.png' %}" alt="paypal">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_paypal_usd }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>EUR</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/skrill.png' %}" alt="skrill">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_skrill_eur }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>USD</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/skrill.png' %}" alt="skrill">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_skrill_usd }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>RUB</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/umani.png' %}" alt="umoney">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_umoney_rub }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>BTC</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/btc.png' %}" alt="btc">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_btc }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>LTC</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/ltc.png' %}" alt="ltc">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_ltc }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>XMR</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/xmr.png' %}" alt="xmr">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_xmr }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>ETC</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/etc.png' %}" alt="etc">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_etc }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>DASH</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/dash.png' %}" alt="dash">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_dash }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>XRP</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/xrp.png' %}" alt="xrp">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_xrp }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>BCH</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/bch.png' %}" alt="bch">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_bch }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-change-box reserv">
                                                <div class="change-block-logo">
                                                    <div class="logobox-valute-box">
                                                        <span>ETH</span>
                                                    </div>
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/eth.png' %}" alt="eth">
                                                </div>
                                                <div class="change-block-active">
                                                    <div class="block-active-content">
                                                        <div class="contentblocktwo">
                                                            <span>РЕЗЕРВ</span>
                                                            <div class="block-reserv">
                                                                {{ form.reserv_eth }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="change-content-block-try">
                                            <div class="block-try-box">
                                                <div class="try-box-btn-left">
                                                    <a href="{% url 'reservchange' %}">Назад</a>
                                                </div>
                                                <div class="btn-form">
                                                    <button type="submit">Сохранить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>
    </div>

{% endblock %}