{% extends "personalaccount/cabinet/indexchange.html" %}

{% block title %}
    Транзакции
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Транзакции</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">На этой странице вы можете видеть все ваши транзакции</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Название</th>
                                                <th>Сумма</th>
                                                <th>Валюта</th>
                                                <th>Плат.система</th>
                                                <th>Статус</th>
                                                <th>Дата создания</th>
                                                <th>Дата исполнения</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in tranviewchange %}
                                                    <tr>
                                                    {% if i.transaction_type == 'Пополнение кошелька' or i.transaction_type == 'Вывод из кошелька' %}
                                                        <td>Заявка № {{ i.transaction_name }}</td>
                                                    {% elif i.transaction_type == 'Внутренний перевод' %}
                                                        <td>Перевод № {{ i.transaction_name }}</td>
                                                    {% endif %}
                                                    <td>{{ i.transaction_sum }}</td>
                                                    <td>{{ i.transaction_currency }}</td>
                                                    <td>{{ i.transaction_sistemchange }}</td>
                                                    {% if i.transaction_status == 'Ожидает оплаты' %}
                                                        <td>
                                                            <div class="badge badge-soft-warning">{{ i.transaction_status }}</div>
                                                        </td>
                                                    {% elif i.transaction_status == 'Оплачена клиентом' or i.transaction_status == 'Выполнена' or i.transaction_status == 'Выполнен'%}
                                                        <td>
                                                            <div class="badge badge-soft-success">{{ i.transaction_status }}</div>
                                                        </td>
                                                    {% else %}
                                                        <td>
                                                            <div class="badge badge-soft-secondary">{{ i.transaction_status }}</div>
                                                        </td>
                                                    {% endif %}
                                                    <td>{{ i.date_joined_change }}</td>
                                                    <td>{{ i.date_end_change }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}