{% extends "home/base.html" %}

{% load static %}

{% block content %}
<main>
    <section class="section-base">
        <div class="container">
            <hr class="space-sm" />
            <div class="row">
                <div class="col-lg-6" data-anima="fade-left" data-time="1000">
                    <hr class="space-sm" />
                    <h1>
                        Ответы от нашей команды и клиентов.
                    </h1>
                    <p>
                        Получайте ответы, на часто задаваемые вопросы.
                    </p>
                    <hr class="space" />
                    <div class="grid-list" data-columns="2" data-columns-md="2" data-columns-sm="1" data-columns-xs="1" data-anima="fade-bottom" data-time="1000">
                        <div class="grid-box">
                            <div class="grid-item">
                                <div class="cnt-box cnt-box-top">
                                    <img src="{% static 'home/media/saas/icon-8.svg' %}" alt="" />
                                    <div class="caption">
                                        <h2>В списке ответов</h2>
                                        <span class="extra-field">Рекомендуем</span>
                                        <p>
                                            В 80% случаев, ответ есть в списке ниже.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="cnt-box cnt-box-top">
                                    <img src="{% static 'home/media/saas/icon-9.svg' %}" alt="" />
                                    <div class="caption">
                                        <h2>От поддержки</h2>
                                        <p>
                                            Не нашли ответа? Пишите.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-anima="fade-right" data-time="1000">
                    <img class="margin-23 margin-md-23" src="{% static 'home/media/faq.png' %}" alt="" />
                </div>
            </div>
            <hr class="space" />
            <hr class="space-lg" />
            <div class="row">
                <div class="col-lg-8" data-anima="fade-left" data-time="1000">
                    <h3>Общие вопросы</h3>
                    <hr class="space-sm">
                    <ul class="accordion-list">
                        <li>
                            <a href="#">Зачем нужна площадка и что она может ?</a>
                            <div class="content">
                                <p>
                                    Площадка является, гарантом между "Владельцем Кошельков" и "Владельцем Обменника". Здесь вы получите самые выгодные условия для Вас, безопасность проведения сделок, самые низкие и быстрые обмены валют. На площадке можно получить личный электронный кошелек, который хорошо подойдет для проведения операций в интернете. Так же на площадке можно зарегистрировать аккаунт обменного пункта, и исполнять заявки пользователей площадки.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">В чем заключается безопасность площадки ?</a>
                            <div class="content">
                                <p>
                                    Все проводимые сделки между "Владельцем Кошельков" и "Владельцем Обменника", гарантировано защищены площадкой. Создавая заявку на пополнение и вывод, будьте уверены в реальности и честности обменного пунтка как и владельца кошелька.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">От куда берутся курсы валют ?</a>
                            <div class="content">
                                <p>
                                    Курсы валют взяты с официальных и надежных источников, таких как национальные центральные банки и крипто-бирж. Обновление курсов валют, присходит каждый час.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <hr class="space">
                    <h3>Для владельцев кошельков</h3>
                    <hr class="space-sm">
                    <ul class="accordion-list">
                        <li>
                            <a href="#">Что такое "Владелец Кошелька" ?</a>
                            <div class="content">
                                <p>
                                    Термин "Владелец кошелька", мы принимаем к пользователям из категории "Владельцы Кошельков", они имееют собственный функционал личного кабинета и определенные разрешения.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Чем ваш кошелек лучше других ?</a>
                            <div class="content">
                                <p>
                                    Для проведения операций пополнений и вывода, мы используем внутреннюю систему пополнения и вывода, с помощью обменных пунктов. Гарантируем безопасноть всех проводимых сделок. Так же предоставляем возможность зарабатывать на операциях ваших партнеров с помощью партнерской программы. Отсутствуют лимиты на оборот и баланс кошелька.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <hr class="space">
                    <h3>Для владельцев обменников</h3>
                    <hr class="space-sm">
                    <ul class="accordion-list">
                        <li>
                            <a href="#">Что такое "Владелец Обменника" ?</a>
                            <div class="content">
                                <p>
                                    Всем пользователям нашей платформы, мы предоставляем возможность создать свой обменный пункт, как, не имея личного сайта и наработанного опыта, так и уже действующим обменным пунктам, получить дополнительные заявки или вообще перевести всех своих клиентов в нашу площадку.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Что нужно, чтобы начать ?</a>
                            <div class="content">
                                <p>
                                    Нужно зарегистрировать аккаунт "Владельца Обменника", настроить аккаунт и пополнить личный кабинет.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Для чего нужен баланс ?</a>
                            <div class="content">
                                <p>
                                    Баланс используется в обработке заявок, как гарантия платежеспособности. Размер баланса напрямую зависит от получаемых заявок. Если заявка на пополнение, с вашего баланса списывается определенная сумма. Если заявка на вывод, к вам начисляется определенная сумма.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Что такое "холд" ?</a>
                            <div class="content">
                                <p>
                                    Холд используется как временное хранилище задействованных в заявке средств.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Деньги перешли в холд, а заявки не вижу ? </a>
                            <div class="content">
                                <p>
                                    Значит пользователь создал заявку на пополнение и проводит оплату на реквизиты из заявки.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <hr class="space">
                    <h3>Партнерская программа</h3>
                    <hr class="space-sm">
                    <ul class="accordion-list">
                        <li>
                            <a href="#">Кому доступна партнерская программа ?</a>
                            <div class="content">
                                <p>
                                    Для участия в партнерской программе, допущены только "Владельцы кошельков".
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Что нужно для участия в партнерской программе ?</a>
                            <div class="content">
                                <p>
                                    Для участия, нужно зарегистрировать аккаунт и пригласить первого партнера.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Что такое линии и как они работают ?</a>
                            <div class="content">
                                <p>
                                    Мы предалагаем три уровня партнерской линейной программы в глубину. 1 линия - это все ваши личные партнеры. 2 линия - это все партнеры приглашенные 1 линией. 3 линия - это все приглашенные партнеры 2 линией.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Как и когда я получу доход от своих партнеров ?</a>
                            <div class="content">
                                <p>
                                    Если по вашей партнерской ссылке, которая находится в личном кабинете, во вкладке "Партнерам", зарегистрировался новый партнер, Вам будет отправлено уведомление на вашу электронную почту. После того как партнер, проведет первую сделку, вы получите доход в зависимости от линии, в которой он зарегистрирован.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Как начисляется мой доход ?</a>
                            <div class="content">
                                <p>
                                    Ежедневно происходит подсчет партнерской программы, и выплата вознаграждений пользователям, в чей линии был сделан оборот.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4"  data-anima="fade-bottom" data-time="1000">
                    <hr class="space visible-md" />
                    <div class="fixed-area" data-offset="80">
                        <h2>Запросите помощь.</h2>
                        <p>
                            Если на Ваш вопрос, нет ответа. Запросите поддержку, по удобным Вам контактам ниже.
                        </p>
                        <hr class="space">
                        <ul class="text-list text-list-bold">
                            <li><b>Email</b><p>admin@fluray.com</p></li>
                            <li><b>Telegram</b><p>@support_fluray</p></li>
                        </ul>
                        <hr class="space-xs">
                        <div class="icon-links icon-social social-colors">
                            <a class="linkedin"><i class="fab fa-telegram-plane"></i></a>
                            <a class="youtube"><i class="fab fa-youtube"></i></a>
                            <a class="instagram"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

