{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
    Заявки на вывод
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Заявки на вывод средств</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Обрабатывайте заявки на вывод</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        {% if withchange %}
                            {% if status_reque %}
                                {% for item in withchange %}
                                    {% if item.request_userchange == user.username %}
                                        {% if item.request_status == 'Ожидает оплаты' %}
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="alert alert-success">
                                                        Статус: {{ item.request_status }}
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ item.request_type }} № {{ item.request_name }}</h5>
                                                        <p class="card-text">Cоздана: {{ item.date_joined_change }}</p>
                                                        <p class="card-text">Пользователь: {{ item.request_user }}</p>
                                                        <p class="card-text">Сумма: {{ item.request_sum }} {{ item.request_currency }}</p>
                                                        <p class="card-text">Платежная система: {{ item.request_sistemchange }}</p>
                                                        <a href="{{ item.pk }}/" class="btn btn-primary">Перейти к заявке</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">На данный момент, для вас нет активных заявок на вывод, ожидайте новых!</h6>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Вы еще не выполняли заявки на вывод, ожидайте своих первых сделок!</h6>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>
    </div>

{% endblock %}