{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
Вывод средств
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Вывод средств</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">На этой странице вы можете вывести средства с кошелька</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <h5 class="mb-4 text-left">Для пополнения баланса</h5>
                                    <div class="line-block">
                                        <img class="line-block-img"
                                             src="{% static 'personalaccount/assets/images/icon/complit.svg' %}" alt="">
                                        <span class="line-block-p">Заполните заявку на пополнение</span>
                                    </div>
                                    <div class="line-block">
                                        <img class="line-block-img"
                                             src="{% static 'personalaccount/assets/images/icon/perevod.svg' %}" alt="">
                                        <span class="line-block-p">Выполните перевод средств, на полученные в заявке реквизиты</span>
                                    </div>
                                    <div class="line-block">
                                        <img class="line-block-img"
                                             src="{% static 'personalaccount/assets/images/icon/vremya.svg' %}" alt="">
                                        <span class="line-block-p">Ожидайте зачисления средств, на внутренний баланс</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <h5 class="mb-4 text-left">Информация</h5>
                                    <p class="right-card-p">Перевод средств, для пополнения внутреннего баланса, осуществляется на реквизиты
                                        наших партнеров, выполняющих обменные операции.</p>
                                    <p class="right-card-p">Время исполнения заявки зависит от выбранной платежной системы и критерия заявки.
                                        Обычно, время исполнения заявки, занимает несколько минут.</p>
                                    <p class="right-card-p">Хочешь стать партнером и получать прибыль с заявок?<br> <a href="#">Ознакомиться
                                        с нашими условиями!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title-custom">
                                        <h5 class="mb-4 text-left">Выберите платежную систему</h5>
                                        <a href="#">Платежной системы нет в списке?</a>
                                    </div>
                                    <div class="list-card">
                                        <div class="name-ps">
                                            <span>Коммерческие банки</span>
                                            <img src="{% static 'personalaccount/assets/images/icon/arrow.svg' %}"
                                                 alt="arrow">
                                        </div>
                                        <div class="card-ps-list">
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/sber.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/tinkoff.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/alfa.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/vtb.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/raif.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/otkr.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/psb.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/gazprom.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/standart.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rsb.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/roket.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pochta.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rosbank.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rnkb.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/mts.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-card">
                                        <div class="name-ps">
                                            <span>Электронные кошельки</span>
                                            <img src="{% static 'personalaccount/assets/images/icon/arrow.svg' %}"
                                                 alt="arrow">
                                        </div>
                                        <div class="card-ps-list">
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/qiwi.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a twobtn">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                    <div class="card-content-ps-a twobtn">
                                                        <a href="#">USD</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/payeer.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">EUR</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">USD</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/wm.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">EUR</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">USD</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pm.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">BTC</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">EUR</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">USD</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/paypal.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">EUR</a>
                                                    </div>
                                                    <div class="card-content-ps-a trybtn">
                                                        <a href="#">USD</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/skrill.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a twobtn">
                                                        <a href="#">EUR</a>
                                                    </div>
                                                    <div class="card-content-ps-a twobtn">
                                                        <a href="#">USD</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/umani.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">RUB</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-card">
                                        <div class="name-ps">
                                            <span>Криптовалюты</span>
                                            <img src="{% static 'personalaccount/assets/images/icon/arrow.svg' %}"
                                                 alt="arrow">
                                        </div>
                                        <div class="card-ps-list">
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/btc.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">BTC</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/ltc.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">LTC</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/xmr.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">XMR</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/etc.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">ETC</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/dash.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">DASH</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/xrp.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">XRP</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/bch.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">BCH</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/eth.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <a href="#">ETH</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h5 class="mb-4 text-left">Реквизиты для вывода</h5>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Введите свои реквизиты для получения средств"
                                               aria-label="Имя получателя" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">СБЕРБАНК</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <div class="card-step">
                                        <div class="card-1step">
                                            <div class="card-title">
                                                <h5 class="mb-3 text-left">Сумма пополнения</h5>
                                            </div>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Введите сумму"
                                                       aria-label="Имя получателя" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">RUB</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-2step">
                                            <div class="card-title">
                                                <h5 class="mb-3 text-left">Выберите критерий заявки</h5>
                                            </div>
                                            <div class="card-chekbox">
                                                <div class="radiochekbox">
                                                    <input id="radio-1" type="radio" name="radio" value="1" checked>
                                                    <label for="radio-1">БЫСТРАЯ ЗАЯВКА</label>
                                                </div>
                                                <div class="radiochekbox">
                                                    <input id="radio-2" type="radio" name="radio" value="2">
                                                    <label for="radio-2">ВЫГОДНЫЙ КУРС</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <div class="card-step">
                                        <div class="card-title">
                                            <h5 class="mb-3 text-left">Заявка на пополнение</h5>
                                        </div>
                                        <div class="content-request">
                                            <ul class="left-card">
                                                <li>Платежная система</li>
                                            </ul>
                                            <ul class="right-card">
                                                <li>СБЕРБАНК</li>
                                            </ul>
                                        </div>
                                        <div class="content-request">
                                            <ul class="left-card">
                                                <li>Сумма пополнения</li>
                                            </ul>
                                            <ul class="right-card">
                                                <li>2 245 RUB</li>
                                            </ul>
                                        </div>
                                        <div class="content-request">
                                            <ul class="left-card">
                                                <li>Критерий заявки</li>
                                            </ul>
                                            <ul class="right-card">
                                                <li>БЫСТРАЯ ЗАЯВКА</li>
                                            </ul>
                                        </div>
                                        <div class="content-request">
                                            <ul class="left-card">
                                                <li>Реквизиты</li>
                                            </ul>
                                            <ul class="right-card">
                                                <li>4235 6543 7563 7583</li>
                                            </ul>
                                        </div>
                                        <div class="request-button">
                                            <button class="btn btn-outline-primary btn-block">Создать заявку</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>
    </div>
{% endblock %}