{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
    Заявка № {{ wi.request_name }}
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Заявка № {{ wi.request_name }}</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Обрабатывайте заявки на вывод</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                    <div class="alert alert-success">
                                        Статус заявки: {{ wi.request_status }}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Пользователь: {{ wi.request_user }}</p>
                                        <p class="card-text">Платежная система: {{ wi.request_sistemchange }}</p>
                                        <p class="card-title">Сумма заявки: {{ wi.request_good_sum }} {{ wi.request_currency }}</p>
                                        <p class="card-text">Ваша коммиссия: {{ wi.request_commission }} %</p>
                                        <h6 class="card-text">Будет добавлено к вашему резерву: {{ wi.request_sum }} {{ wi.request_currency }}</h6>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Сделайте перевод {{ wi.request_good_sum }} {{ wi.request_currency }}, на реквизиты клиента {{ wi.request_sistemchange }} {{ wi.requisites }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <a href="{% url 'withdrawalexchange' %}"><button type="button" class="btn btn-link">Вернуться</button></a>
                                        <a href="good/" class="btn btn-success">Завершить</a>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text">Заявка создана: {{ wi.date_joined_change }}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}