{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
Вывод средств
{% endblock %}


{% block script %}
{% if message_status %}
    <script>
        var status_message = true;
        var data_message = {{ data_message|safe }};
    </script>
{% endif %}
<script>
    var list_min_range = {{ range_min_list|safe }};
    var list_max_range = {{ range_max_list|safe }};
</script>
{% endblock %}


{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Вывод средств</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">На этой странице вы можете вывести средства с кошелька</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <h5 class="mb-4 text-left">Для пополнения баланса</h5>
                                    <div class="line-block">
                                        <img class="line-block-img"
                                             src="{% static 'personalaccount/assets/images/icon/complit.svg' %}" alt="">
                                        <span class="line-block-p">Заполните заявку на пополнение</span>
                                    </div>
                                    <div class="line-block">
                                        <img class="line-block-img"
                                             src="{% static 'personalaccount/assets/images/icon/perevod.svg' %}" alt="">
                                        <span class="line-block-p">Выполните перевод средств, на полученные в заявке реквизиты</span>
                                    </div>
                                    <div class="line-block">
                                        <img class="line-block-img"
                                             src="{% static 'personalaccount/assets/images/icon/vremya.svg' %}" alt="">
                                        <span class="line-block-p">Ожидайте зачисления средств, на внутренний баланс</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <h5 class="mb-4 text-left">Информация</h5>
                                    <p class="right-card-p">Перевод средств, для пополнения внутреннего баланса, осуществляется на реквизиты
                                        наших партнеров, выполняющих обменные операции.</p>
                                    <p class="right-card-p">Время исполнения заявки зависит от выбранной платежной системы и критерия заявки.
                                        Обычно, время исполнения заявки, занимает несколько минут.</p>
                                    <p class="right-card-p">Хочешь стать партнером и получать прибыль с заявок?<br> <a href="#">Ознакомиться
                                        с нашими условиями!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="card-title-custom">
                                        <h5 class="mb-4 text-left">Выберите платежную систему</h5>
                                        <a href="#">Платежной системы нет в списке?</a>
                                    </div>
                                    {% if list_active_ps.sberbank_rub or list_active_ps.tinkoff_rub or list_active_ps.alfabank_rub or list_active_ps.vtb_rub or list_active_ps.raifaizen_rub or list_active_ps.otkritie_rub or list_active_ps.psb_rub or list_active_ps.gazprombank_rub or list_active_ps.russtandart_rub or list_active_ps.rosselhoz_rub or list_active_ps.pochtabank_rub or list_active_ps.rosbank_rub or list_active_ps.rnkb_rub or list_active_ps.mtsbank_rub %}
                                    <div class="list-card">
                                        <div id="name-ps-1" class="name-ps">
                                            <span>Коммерческие банки</span>
                                            <img id="name-ps-img-1" src="{% static 'personalaccount/assets/images/icon/arrow.svg' %}"
                                                 alt="arrow">
                                        </div>
                                        <div id="card-ps-list-1" class="card-ps-list">
                                            {% if list_active_ps.sberbank_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/sber.png' %}"
                                                         alt="sber">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="sber-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.sberbank_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.tinkoff_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/tinkoff.png' %}"
                                                         alt="tinkoff">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="tinkoff-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.tinkoff_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.alfabank_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/alfa.png' %}"
                                                         alt="alfabank">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="alfabank-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.alfabank_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.vtb_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/vtb.png' %}"
                                                         alt="vtb">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="vtb-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.vtb_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.raifaizen_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/raif.png' %}"
                                                         alt="raiffaizen">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="raif-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.raifaizen_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.otkritie_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/otkr.png' %}"
                                                         alt="otkritie">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="otkr-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.otkritie_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.psb_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/psb.png' %}"
                                                         alt="psb">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="psb-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.psb_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.gazprombank_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/gazprom.png' %}"
                                                         alt="gazprom">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="gazprom-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.gazprombank_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.russtandart_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/standart.png' %}"
                                                         alt="standart">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="standart-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.russtandart_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.rosselhoz_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rsb.png' %}"
                                                         alt="rsb">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="rsb-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.rosselhoz_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.pochtabank_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pochta.png' %}"
                                                         alt="pochta">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="pochta-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.pochtabank_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.rosbank_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rosbank.png' %}"
                                                         alt="rosbank">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="rosbank-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.rosbank_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.rnkb_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/rnkb.png' %}"
                                                         alt="rnkb">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="rnkb-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.rnkb_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.mtsbank_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/mts.png' %}"
                                                         alt="mts">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="mts-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.mtsbank_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if list_active_ps.qiwi_rub or list_active_ps.qiwi_usd or list_active_ps.payeer_rub or list_active_ps.payeer_usd or list_active_ps.payeer_eur or list_active_ps.webmoney_rub or list_active_ps.webmoney_usd or list_active_ps.webmoney_eur or list_active_ps.pm_btc or list_active_ps.pm_usd or list_active_ps.pm_eur or list_active_ps.paypal_rub or list_active_ps.paypal_usd or list_active_ps.paypal_eur or list_active_ps.skrill_eur or list_active_ps.skrill_usd or list_active_ps.umoney_rub %}
                                    <div class="list-card">
                                        <div id="name-ps-2" class="name-ps">
                                            <span>Электронные кошельки</span>
                                            <img id="name-ps-img-2" src="{% static 'personalaccount/assets/images/icon/arrow.svg' %}"
                                                 alt="arrow">
                                        </div>
                                        <div id="card-ps-list-2" class="card-ps-list">
                                            {% if list_active_ps.qiwi_rub or list_active_ps.qiwi_usd %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/qiwi.png' %}"
                                                         alt="qiwi">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    {% if list_active_ps.qiwi_rub %}
                                                    <div class="card-content-ps-a twobtn">
                                                        <span id="qiwi-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.qiwi_rub }} USD">RUB</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a twobtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">RUB</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.qiwi_usd %}
                                                    <div class="card-content-ps-a twobtn">
                                                        <span id="qiwi-usd-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.qiwi_usd }} USD">USD</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a twobtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">USD</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.payeer_rub or list_active_ps.payeer_usd or list_active_ps.payeer_eur  %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/payeer.png' %}"
                                                         alt="payeer">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    {% if list_active_ps.payeer_rub %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="payeer-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.payeer_rub }} USD">RUB</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">RUB</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.payeer_eur %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="payeer-eur-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.payeer_eur }} USD">EUR</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">EUR</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.payeer_usd %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="payeer-usd-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.payeer_usd }} USD">USD</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">USD</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.webmoney_rub or list_active_ps.webmoney_usd or list_active_ps.webmoney_eur %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/wm.png' %}"
                                                         alt="wm">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    {% if list_active_ps.webmoney_rub %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="wm-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.webmoney_rub }} USD">RUB</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">RUB</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.webmoney_eur %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="wm-eur-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.webmoney_eur }} USD">EUR</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">EUR</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.webmoney_usd %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="wm-usd-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.webmoney_usd }} USD">USD</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">USD</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.pm_btc or list_active_ps.pm_usd or list_active_ps.pm_eur %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/pm.png' %}"
                                                         alt="pm">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    {% if list_active_ps.pm_btc %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="pm-btc-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.pm_btc }} USD">BTC</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">BTC</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.pm_eur %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="pm-eur-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.pm_eur }} USD">EUR</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">EUR</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.pm_usd %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="pm-usd-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.pm_usd }} USD">USD</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">USD</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.paypal_rub or list_active_ps.paypal_usd or list_active_ps.paypal_eur %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/paypal.png' %}"
                                                         alt="paypal">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    {% if list_active_ps.paypal_rub %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="paypal-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.paypal_rub }} USD">RUB</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">RUB</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.paypal_eur %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="paypal-eur-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.paypal_eur }} USD">EUR</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">EUR</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.paypal_usd %}
                                                    <div class="card-content-ps-a trybtn">
                                                        <span id="paypal-usd-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.paypal_usd }} USD">USD</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a trybtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">USD</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.skrill_eur or list_active_ps.skrill_usd %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/skrill.png' %}"
                                                         alt="skrill">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    {% if list_active_ps.skrill_eur %}
                                                    <div class="card-content-ps-a twobtn">
                                                        <span id="skrill-eur-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.skrill_eur }} USD">EUR</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a twobtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">EUR</span>
                                                    </div>
                                                    {% endif %}
                                                    {% if list_active_ps.skrill_usd %}
                                                    <div class="card-content-ps-a twobtn">
                                                        <span id="skrill-usd-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.skrill_usd }} USD">USD</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="card-content-ps-a twobtn no-active">
                                                        <span data-toggle="tooltip" data-placement="top" title="Неактивно">USD</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.umoney_rub %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/umani.png' %}"
                                                         alt="umoney">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="umoney-rub-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.umoney_rub }} USD">RUB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if list_active_ps.btc or list_active_ps.ltc or list_active_ps.xmr or list_active_ps.etc or list_active_ps.dash or list_active_ps.xrp or list_active_ps.bch or list_active_ps.etc %}
                                    <div class="list-card">
                                        <div id="name-ps-3" class="name-ps">
                                            <span>Криптовалюты</span>
                                            <img id="name-ps-img-3" src="{% static 'personalaccount/assets/images/icon/arrow.svg' %}"
                                                 alt="arrow">
                                        </div>
                                        <div id="card-ps-list-3" class="card-ps-list">
                                            {% if list_active_ps.btc %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/btc.png' %}"
                                                         alt="btc">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="btc-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.btc }} USD">BTC</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.ltc %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/ltc.png' %}"
                                                         alt="ltc">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="ltc-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.ltc }} USD">LTC</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.xmr %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/xmr.png' %}"
                                                         alt="xmr">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="xmr-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.xmr }} USD">XMR</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.etc %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/etc.png' %}"
                                                         alt="etc">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="etc-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.etc }} USD">ETC</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.dash %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/dash.png' %}"
                                                         alt="dash">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="dash-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.dash }} USD">DASH</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.xrp %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/xrp.png' %}"
                                                         alt="xrp">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="xrp-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.xrp }} USD">XRP</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.bch %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/bch.png' %}"
                                                         alt="bch">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="bch-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.bch }} USD">BCH</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if list_active_ps.eth %}
                                            <div class="card-ps">
                                                <div class="card-content-ps">
                                                    <img src="{% static 'personalaccount/assets/images/logo-ps/eth.png' %}"
                                                         alt="eth">
                                                </div>
                                                <div class="card-content-ps-a-list">
                                                    <div class="card-content-ps-a">
                                                        <span id="eth-deposit" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Резерв {{ list_reserve_ps.eth }} USD">ETH</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h5 class="mb-4 text-left">Реквизиты для вывода</h5>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input id="requisites-ps-input" type="text" class="form-control" placeholder="Введите свои реквизиты для получения средств"
                                               aria-label="Имя получателя" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="requisites-ps-name">-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <div class="card-step">
                                        <div class="card-1step">
                                            <div class="card-title">
                                                <h5 class="mb-3 text-left">Сумма вывода</h5>
                                            </div>
                                            <div class="input-group">
                                                <input id="input-change" class="form-control input-mask text-left" placeholder="Введите сумму"
                                                       aria-label="Имя получателя" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">USD</span>
                                                </div>
                                            </div>
                                            <span id="span-range-usd" class="text-muted font-size-12"></span>
                                        </div>
                                        <div class="card-2step">
                                            <div class="card-title">
                                                <h5 class="mb-3 text-left">Выберите критерий заявки</h5>
                                            </div>
                                            <div class="card-chekbox">
                                                <div id="chekbox-quickaplication" class="radiochekbox">
                                                    <input id="winchange" type="radio" name="radio" value="БЫСТРАЯ ЗАЯВКА" checked>
                                                    <label for="winchange">БЫСТРАЯ ЗАЯВКА</label>
                                                </div>
                                                <div id="chekbox-wincurse" class="radiochekbox">
                                                    <input id="wincurse" type="radio" name="radio" value="ВЫГОДНЫЙ КУРС">
                                                    <label for="wincurse">ВЫГОДНЫЙ КУРС</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cust">
                            <div class="card cust">
                                <div class="card-body">
                                    <form method="POST" action="{% url 'withdrawalwallet' %}" >
                                        {% csrf_token %}
                                        <div class="card-step">
                                            <div class="card-title">
                                                <h5 class="mb-3 text-left">Заявка на вывод</h5>
                                            </div>
                                            <div class="content-request">
                                                <div class="left-card">
                                                    <span>Платежная система</span>
                                                </div>
                                                <div class="right-card">
                                                    {{ form.request_sistemchange }}
                                                </div>
                                            </div>
                                            <div class="content-request">
                                                <div class="left-card">
                                                    <span>Сумма вывода</span>
                                                </div>
                                                <div class="right-card">
                                                    {{ form.request_sum }}
                                                </div>
                                            </div>
                                            <div class="content-request">
                                                <div class="left-card">
                                                    <span>Критерий заявки</span>
                                                </div>
                                                <ul class="right-card">
                                                    {{ form.criteri }}
                                                </ul>
                                            </div>
                                            <div class="content-request">
                                                <div class="left-card">
                                                    <span>Реквизиты</span>
                                                </div>
                                                <ul class="right-card">
                                                    {{ form.requisites }}
                                                </ul>
                                            </div>
                                            <div class="request-button">
                                                <button id="button-active-request" type="submit" class="btn-request-deposit" disabled style="opacity: 40%">Создать заявку</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>
    </div>
{% endblock %}