{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
    Профиль
{% endblock %}


{% block script %}
{% if message_status %}
    <script>
        var status_message = true;
        var data_message = {{ data_message|safe }};
    </script>
{% endif %}
{% endblock %}



{% block content %}
    <div class="main-content">
        <div class="page-content">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Профиль</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Подробная информация о вашем профиле</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row cust-maxw-1200">
                        <div class="card-profile-box">
                            <div class="card-profile-box-left">
                                <div class="card-profile-content leftz">
                                    <div class="card-profile-content-avatar-box">
                                        <div class="card-profile-content-avatar">
                                            {% if user.avatar %}
                                                <img id="avatar-img" class="rounded-circle avatar-xl roundcolor" src="{{ user.avatar.url }}" alt="">
                                            {% else %}
                                                <img id="avatar-img" class="rounded-circle avatar-xl roundcolor" src="{% static 'personalaccount/assets/images/users/avatar.jpg' %}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="card-profile-content-username">
                                            <span>{{ user.username }}</span>
                                        </div>
                                    </div>
                                    <div class="card-profile-content-content-box">
                                        <div class="card-profile-content-content">
                                            <p class="text-muted">Баланс</p>
                                            <span>{{ user.balance }} $</span>
                                        </div>
                                        <div class="card-profile-content-content">
                                            <p class="text-muted">Последнее посещение</p>
                                            <span>{{ user.last_login }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-profile-box-right">
                                <div class="card-profile-content">
                                    <div class="card-profile-content-content">
                                        <p class="text-muted">Ф.И.О</p>
                                        {% if user.first_name and user.last_name and user.middle_name %}
                                            <span>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</span>
                                        {% else %}
                                            <span>-</span>
                                        {% endif %}
                                    </div>
                                    <div class="card-profile-content-content">
                                        <p class="text-muted">Почта</p>
                                        <span>{{ user.email }}</span>
                                    </div>
                                    <div class="card-profile-content-content">
                                        <p class="text-muted">Телефон</p>
                                        {% if user.phone_number %}
                                            <span>{{ user.phone_number }}</span>
                                        {% else %}
                                            <span>-</span>
                                        {% endif %}
                                    </div>
                                    <div class="card-profile-content-content">
                                        <p class="text-muted">Телеграм</p>
                                        {% if user.telegram_username %}
                                            <span>{{ user.telegram_username }}</span>
                                        {% else %}
                                            <span>-</span>
                                        {% endif %}
                                    </div>
                                    <div class="card-profile-content-content">
                                        <p class="text-muted">Дата регистрации</p>
                                        <span>{{ user.date_joined }}</span>
                                    </div>
                                    <a href="{% url 'settingwallet' %}" class="card-profile-edit">
                                        <img src="{% static 'personalaccount/assets/images/icon/editdata.svg' %}" alt="">
                                        <span>Редактировать</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
