{% extends "personalaccount/cabinet/indexwallet.html" %}

{% load static %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Профиль</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Здесь вся информация вашего профиля</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Аватар</label>
                                            <div class="col-md-10">
                                                {% if user.avatar %}
                                                    <img class="rounded-circle avatar-xl" src="{{ user.avatar.url }}">
                                                {% else %}
                                                    <img class="rounded-circle avatar-xl" src="{% static 'personalaccount/assets/images/users/avatar.jpg' %}">
                                                {% endif %}
                                                <form enctype="multipart/form-data" method="post" action="{% url 'profilewallet' %}">
                                                    {% csrf_token %}
                                                    <input type="file" name="avatar">
                                                    <button class="btn btn-link" type="submit">Подтвердить</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Логин</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="{{ user.username }}" id="example-text-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Почта</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="{{ user.email }}" id="example-text-input">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-datetime-local-input" class="col-md-2 col-form-label">ФИО</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}" id="example-datetime-local-input">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-datetime-local-input" class="col-md-2 col-form-label">Дата регистрации</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="{{ user.date_joined }}" id="example-datetime-local-input">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-datetime-local-input" class="col-md-2 col-form-label">Последний вход</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="{{ user.last_login }}" id="example-datetime-local-input">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="example-datetime-local-input" class="col-md-2 col-form-label">Баланс</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="{{ user.balance }} $" id="example-datetime-local-input">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>
    </div>

{% endblock %}