{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}{% endblock %}</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'personalaccount/assets/images/favicon.ico' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'personalaccount/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'personalaccount/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'personalaccount/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
<!-- Optional JavaScript -->
        <script src="{% static 'personalaccount/assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'personalaccount/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'personalaccount/assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'personalaccount/assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'personalaccount/assets/libs/node-waves/waves.min.js' %}"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

        <script src="{% static 'personalaccount/assets/js/app.js' %}"></script>
</body>
</html>
