{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
    Курсы валют
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Курсы валют</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Все курсы валют</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card">
                            <div class="col-xl-12">
                                <div class="card-body">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th>Валюта</th>
                                            <th>Курс</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in currencyview %}
                                            <tr>
                                                <td>{{ item.name_currency }}</td>
                                                <td>{{ item.base_currency }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="{% url 'coursechangeupdate' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit"  value="Обновить"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>

        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2020 © Wallets.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Разработка <i class="mdi mdi-heart text-danger"></i> by Russia
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}