{% extends "personalaccount/cabinet/indexchange.html" %}

{% load static %}

{% block title %}
    Изменить прибыль
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="page-content">

            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Изменить прибыль</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Здесь вы можете изменить свою прибыль</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <!-- Сердце -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-body">
                                        <a href="{% url 'coursechange' %}"><button type="button" class="btn btn-link">Вернуться</button></a>
                                    </div>

                                    <div class="card-body">

                                        <form action="{% url 'coursechangecommission' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <h4 class="card-title">Прибыль с заявок на пополнение</h4>
                                                    <div class="card-body">
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_sberbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_psb_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_tinkoff_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_gazprombank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_alfabank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_russtandart_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_vtb_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_rosselhoz_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_raifaizen_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_roketbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_otkritie_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_pochtabank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_rnkb_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_rosbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_mtsbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_qiwi_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_qiwi_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_payeer_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_payeer_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_payeer_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_webmoney_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_webmoney_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_webmoney_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_pm_btc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_pm_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_pm_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_skrill_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_skrill_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_paypal_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_paypal_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_paypal_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_umoney_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_btc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_xrp }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_ltc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_bch }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_xmr }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_eth }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_etc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_in_dash }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-6">
                                                    <h4 class="card-title">Прибыль с заявок на вывод</h4>
                                                    <div class="card-body">
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_sberbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_psb_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_tinkoff_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_gazprombank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_alfabank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_russtandart_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_vtb_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_rosselhoz_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_raifaizen_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_roketbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_otkritie_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_pochtabank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_rnkb_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_rosbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_mtsbank_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_qiwi_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_qiwi_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_payeer_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_payeer_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_payeer_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_webmoney_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_webmoney_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_webmoney_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_pm_btc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_pm_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_pm_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_skrill_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_skrill_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_paypal_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_paypal_usd }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_paypal_eur }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_umoney_rub }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_btc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_xrp }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_ltc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_bch }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_xmr }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_eth }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_etc }}
                                                        </div>
                                                        <div class="form-group form-group-custom mb-4">
                                                            {{ form.comis_out_dash }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-outline-primary btn-block waves-effect waves-light " type="submit">Подтвердить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end page-content-wrapper -->

        </div>
    </div>

{% endblock %}